[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
pyaml = "*"
sacred = "*"
pymongo = "*"
sshtunnel = "*"
networkx = "*"
lxml = "*"
pyglet = "*"
opencv-python = "==4.5.3.56"
imutils = "*"
scipy = "*"
torch = "==1.8.1"
stable-baselines3 = "*"
psutil = "*"
pathos = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.6"
